@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0;
  font-family: Rubik;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-button{
  @apply text-base
}
.text-communication{
  @apply text-xs
}

.text-bunner{
  @apply text-4xl
}
.card{
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md
}

.primary-button{
  @apply rounded bg-blue-500 py-2 px-4 shadow outline-none 
  hover:bg-blue-400 active:bg-blue-700 text-white
}

.secundary-button{
  @apply rounded bg-gray-600 py-2 px-4 shadow outline-none 
  hover:bg-gray-400 active:bg-gray-700 text-white
}
.floating-input{
  @apply block  py-2.5 px-0 w-2/4 text-sm text-gray-900 
  bg-transparent border-0 border-b-2
   border-gray-300 appearance-none dark:text-white dark:border-gray-600
   dark:focus:border-blue-500 focus:outline-none focus:ring-0
   focus:border-blue-600
 
}

.floating-label{
  @apply peer-focus:font-medium absolute text-sm text-gray-500
   dark:text-gray-400 duration-300 transform -translate-y-6 scale-75
    top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600
     peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100
      peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
      peer-focus:-translate-y-6
}

.headless-menu-button{
  @apply flex justify-between  items-center  rounded-md w-32
  bg-black bg-opacity-20 px-4 py-2 text-sm font-medium
  text-white hover:bg-opacity-30 focus:outline-none focus-visible:ring-2
   focus-visible:ring-white focus-visible:ring-opacity-75
}

.headless-items-container{
  @apply 
  absolute right-0 w-32  shadow-lg
  bg-white rounded-2xl gap-2 p-3

 
}
.headless-item{
@apply
flex justify-between text-center hover:bg-blue-400  active:bg-blue-700
hover:text-white
}
