.login_container{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    
}

.inputs{
position:relative;
left:10%;
margin-bottom: 1em;
width:50%

}